<!-- BINARY CLOCK -->
<div class="bc-wrapper">
  <div class="bc-led-box bc-led-box-span-2"></div>
  <div class="bc-led-box bc-led-box-margin-right" id="h4">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box"></div>
  <div class="bc-led-box" id="m4">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box"></div>
  <div class="bc-led-box" id="s3">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="h3">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="m30">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="m3">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="s30">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="s3">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="h20">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="h2">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="m20">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="m2">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="s20">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="s2">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="h10">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="h1">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="m10">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="m1">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="s10">
    <span class="bc-led"></span>
  </div>
  <div class="bc-led-box" id="s1">
    <span class="bc-led"></span>
  </div>
</div>
<!-- /BINARY CLOCK -->