<!-- BINARY CLOCK -->
<div class="bc-wrapper" *ngIf="current_time" >
  <!-- hour double digit -->
  <div class="bc-section">
    <div class="bc-led-box bc-led-box-span-2"></div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.hour[20] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.hour[10] }"></span>
    </div>
  </div>

  <!-- hour single digit -->
  <div class="bc-section">
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.hour[8] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.hour[4] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.hour[2] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.hour[1] }"></span>
    </div>
  </div>

  <!-- minute double digit -->
  <div class="bc-section">
    <div class="bc-led-box"></div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[40] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[20] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[10] }"></span>
    </div>
  </div>
  
  <!-- minute single digit -->
  <div class="bc-section">
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[8] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[4] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[2] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.minute[1] }"></span>
    </div>
  </div>

  <!-- second double digit -->
  <div class="bc-section">
    <div class="bc-led-box"></div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[40] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[20] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[10] }"></span>
    </div>
  </div>
  
  <!-- second single digit -->
  <div class="bc-section">
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[8] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[4] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[2] }"></span>
    </div>
    <div class="bc-led-box">
      <span class="bc-led" [ngClass] = "{ 'bc-led-active': current_time.second[1] }"></span>
    </div>
  </div>

</div>
<!-- /BINARY CLOCK -->